# Deep learning framework
torch==2.1.2
torchvision==0.16.2

# Medical imaging
monai==1.4.0
nibabel==5.2.0
SimpleITK==2.3.1

# Scientific stack
numpy==1.26.3
scipy==1.11.4
scikit-learn==1.4.0
pandas==2.1.4

# Visualization
matplotlib==3.8.2

# Configs and utilities
PyYAML==6.0.1
tqdm==4.66.1

# Experiment tracking
wandb==0.16.2

# Dataset access
kagglehub==0.2.0
streamlit==1.31.0
